@model IEnumerable<AdminLTE2.Models.Products>

@{
    ViewData["Title"] = "Products";
}

<br />
<div class="content-wrapper">
    <div class="container">
        <h1 class="text-center">Products</h1>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Product name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Standard cost
                                </th>
                                <th>
                                    List price
                                </th>
                                <th>
                                    Category
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.product_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.standard_cost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.list_price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product_Categories.category_name)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.product_id" class="btn btn-sm btn-outline-warning">Edit</a>
                                        <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#detail-@item.product_id">
                                            Details
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#delete-@item.product_id">
                                            Delete
                                        </button>
                                    </td>
                                </tr>


                                <div class="modal fade" id="detail-@item.product_id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Detail Product</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <hr />
                                                    <dl class="row">
                                                        <dt class="col-sm-4">
                                                            First name
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            @Html.DisplayFor(model => item.product_name)
                                                        </dd>
                                                        <dt class="col-sm-4">
                                                            Last name
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            @Html.DisplayFor(model => item.description)
                                                        </dd>
                                                        <dt class="col-sm-4">
                                                            Cost
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            @Html.DisplayFor(model => item.standard_cost)
                                                        </dd>
                                                        <dt class="col-sm-4">
                                                            List Price
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            @Html.DisplayFor(model => item.list_price)
                                                        </dd>
                                                        <dt class="col-sm-4">
                                                            Category
                                                        </dt>
                                                        <dd class="col-sm-8">
                                                            @Html.DisplayFor(model => item.Product_Categories.category_name)
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="delete-@item.product_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title fs-5" id="exampleModalLabel">Mensaje de confirmación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>¿Seguro que quieres eliminar el producto?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <a asp-action="Delete" asp-route-id="@item.product_id" class="btn btn-danger">Confirmar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
